<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.4.xsd">

    <mongo:repositories base-package="com.ng.daily.server" mongo-template-ref="mongoTemplate"/>

    <mongo:mongo host="${spring.data.mongodb.host}" port="${spring.data.mongodb.port}">
        <mongo:options connections-per-host="8"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       connect-timeout="1000"
                       max-wait-time="1500"
                       auto-connect-retry="true"
                       socket-keep-alive="true"
                       socket-timeout="1500"
                       slave-ok="true"
                       write-number="1"
                       write-timeout="0"
                       write-fsync="true"/>
    </mongo:mongo>

    <bean id="mongoDbFactory" class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
        <constructor-arg ref="mongo"/>
        <constructor-arg name="databaseName" value="${spring.data.mongodb.database}"/>
    </bean>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate" lazy-init="true">
        <constructor-arg ref="mongoDbFactory"/>
    </bean>

    <bean id="baseMongoDBTemplate" class="com.ng.daily.server.common.mongo.BaseMongoDBTemplate">
        <property name="mongoTemplate" ref="mongoTemplate"/>
    </bean>

</beans>